In [2]:
import numpy as np
import pandas as pd

from tqdm import tqdm

def generate_room(NUM=10000):
    df = pd.DataFrame(columns=['선택1', '심판_선택', '선택2', '정답'])  # 몬티홀 문제 표 생성
    first_choice = np.random.randint(3, size=NUM)                       # 첫번 째 문 선택
    
    df.선택1 = first_choice                                             # 선택된 문 할당
    
    correct_l = []                                                      # 정답 문 생성
    for first in df.선택1:
        correct_door = np.random.choice(list([0, 1, 2]))
        correct_l.append(correct_door)
    
    df.정답 = correct_l                                                  # 정답 문 할당
    return  df

def refree_choice(room):    
    temp = []
    
    for first, correct in tqdm(zip(room.선택1, room.정답)):
        original_door = set([0, 1, 2])
        original_door.discard(first)
        original_door.discard(correct)
        
        temp_choice = original_door.pop()
        
        temp.append(temp_choice)
        
    room.심판_선택 = temp
    
    
def final_select(room, change=False):
    
    final = []
    
    for first, refree in tqdm(zip(room.선택1, room.심판_선택)):
        
        if not change:
            
            final_door = first
            final.append(final_door)
            
        else:
            original_doors = set([0, 1, 2])
            original_doors.discard(first)
            original_doors.discard(refree)
            
            final_door = original_doors.pop()
            final.append(final_door)
            
    room.선택2 = final

# 방 생성

In [3]:
room = generate_room()
room.head()

   선택1 심판_선택  선택2  정답
0    2   NaN  NaN   1
1    1   NaN  NaN   2
2    1   NaN  NaN   0
3    2   NaN  NaN   0
4    2   NaN  NaN   1

# 심판 선택

In [4]:
refree_choice(room)
room.head()

10000it [00:00, 501351.18it/s]

   선택1  심판_선택  선택2  정답
0    2      0  NaN   1
1    1      0  NaN   2
2    1      2  NaN   0
3    2      1  NaN   0
4    2      0  NaN   1

# 마지막 선택 및 결과

In [5]:
res = final_select(room, change=False)
room.head()

10000it [00:00, 911527.80it/s]

   선택1  심판_선택  선택2  정답
0    2      0    2   1
1    1      0    1   2
2    1      2    1   0
3    2      1    2   0
4    2      0    2   1

In [6]:
O = (room.선택2 == room.정답).sum()/10000
X = (room.선택2 != room.정답).sum()/10000

print('O: {}, X:{}'.format(O, X))

O: 0.3277, X:0.6723

# 마지막 선택 및 결과 2

In [7]:
res = final_select(room, change=True)
room.head()

10000it [00:00, 500579.31it/s]

   선택1  심판_선택  선택2  정답
0    2      0    1   1
1    1      0    2   2
2    1      2    0   0
3    2      1    0   0
4    2      0    1   1

In [8]:
O = (room.선택2 == room.정답).sum()/10000
X = (room.선택2 != room.정답).sum()/10000

print('O: {}, X:{}'.format(O, X))

O: 0.6723, X:0.3277